@namespace DeskHelper.Blazor

@page "/"
<div class="container-fluid">
    @if (_computerInfo is null)
    {
        <div class="row pt-2">
            <div class="col">
                <LoadingCard />
            </div>
        </div>
    }
    else
    {
        <div class="row pt-2">
            <div class="col">
                <ComputerDetailsCard InputComputerInfo="@_computerInfo" />
            </div>
        </div>

        <div class="row pt-2 pb-3">
            <div class="col">
                <NetworkAdaptersCard InputNetworkAdapters="@_computerInfo.NetworkAdapters" />
            </div>
        </div>
    }
</div>