@namespace DeskHelper.Blazor

@page "/"
<div class="container-fluid">
    @if (_computerInfo is null)
    {
        <div class="row pt-2">
            <div class="col">
                <LoadingCard />
            </div>
        </div>
    }
    else
    {
        <div class="row pt-2">
            <div class="col-xs-12 col-md-6">
                <ComputerDetailsCard InputComputerInfo="@_computerInfo" />
            </div>

            <div class="col-xs-12 col-md-6 pt-xs-2 pt-2 pt-md-0">
                <UserDetailsCard UserName="@_computerInfo.CurrentUser" />
            </div>
        </div>

        @if (_computerInfo.AzureAdInfo is not null)
        {
            <div class="row pt-2">
                <div class="col">
                    <AzureAdInfoCard InputAzureAdInfo="@_computerInfo.AzureAdInfo" />
                </div>
            </div>
        }

        <div class="row pt-2 pb-3">
            <div class="col">
                <NetworkAdaptersCard InputNetworkAdapters="@_computerInfo.NetworkAdapters" />
            </div>
        </div>
    }
</div>