@namespace DeskHelper.Blazor.Shared

@inherits LayoutComponentBase

<div class="page">
	<header>
		<div class="container-fluid pt-2">
			<div class="row">
				<div class="col">
					<nav class="navbar navbar-dark bg-indigo rounded shadow pb-0">
						<div class="d-flex flex-row w-100 mx-3">
							<div class="flex-grow-1 align-self-center">
								<div class="navbar-brand">
									<img src="_content/DeskHelper.Blazor/appicon.png" width="64" class="img-fluid" />
									<span class="ml-4 fs-1 align-middle">
										DeskHelper
									</span>
								</div>
							</div>
							<div class="align-self-center">
								<button class="btn btn-primary" role="button" @onclick="HandleRefresh">
									<i class="bi bi-arrow-clockwise" />
								</button>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div class="px-4 pt-3">
			@Body
		</div>
	</main>
</div>
