@namespace DeskHelper.Blazor.Components.Core

@inherits ComponentBase

<button type="button" class="btn @(!_copyInProgress ? "btn-dark" : "btn-success")" title="Copy to clipboard" @onclick="CopyTextToClipboard">
    <i class="bi @(!_copyInProgress ? "bi-clipboard2" : "bi-clipboard2-check")" />
</button>