@namespace DeskHelper.Blazor.Components.Core

@inherits ComponentBase

<div class="card">
    <div class="card-header">
        <h2>
            Loading...
        </h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;" />
                </div>
            </div>
        </div>
    </div>
</div>